.widget_amazonaffiliateaffix {
  display: none;
}

.widget-area a.amazon-button, .widget-area a.amazon-button:hover {
  text-decoration: none;
  background-color: none;
  border: 0;
}

.aaa-product {
  position: static;
  width: 360px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.aaa-product .amazon-title {
  color: #00E;
}

.aaa-image {
  float: left;
  margin-right: 10px;
}

.aaa-description {
  font-size: 14px;
}

.amazon-button {
  float: right;
  border: 2px solid #1C408B;
  color: #000065;
  text-decoration: none;
  padding: 0 14px;
  border-radius: 7px;
  font-size: 12px;
  line-height: 24px;
  background-image: -webkit-linear-gradient(top, #ffe39f 0%,#ffe39f 36%,#ffc53b 39%,#ffc53b 61%,#bf9228 100%);
  background-image:    -moz-linear-gradient(top, #ffe39f 0%,#ffe39f 36%,#ffc53b 39%,#ffc53b 61%,#bf9228 100%);
  background-image:     -ms-linear-gradient(top, #ffe39f 0%,#ffe39f 36%,#ffc53b 39%,#ffc53b 61%,#bf9228 100%);
  background-image:      -o-linear-gradient(top, #ffe39f 0%,#ffe39f 36%,#ffc53b 39%,#ffc53b 61%,#bf9228 100%);
}
@media (min-width: 979px) {
  .widget_amazonaffiliateaffix {
    display: block;
  }
}
